<footer id="footer"></footer>
    <div class="footer-container">
        <div class="footer-section">
            <h4>Kontaktujte nás</h4>
            <p><i class="fa-solid fa-phone"></i> +420 123 456 789</p>
            <p><i class="fa-solid fa-envelope"></i> info@dhl.cz</p>
            <p><i class="fa-solid fa-location-dot"></i> DHL Express, Ulice 123, 100 00 Praha</p>
        </div>
        
        <div class="footer-section">
            <h4>Rychlé odkazy</h4>
            <ul>
                <li><a href="#">Sledování zásilky</a></li>
                <li><a href="#">Naše služby</a></li>
                <li><a href="#">Ceník</a></li>
                <li><a href="#">Podpora</a></li>
            </ul>
        </div>
        
        <div class="footer-section">
            <h4>Sledujte nás</h4>
            <ul class="social-links">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
        </div>
    </div>
    
    <div class="footer-bottom">
        <p>&copy; 2024 DHL. Všechna práva vyhrazena.</p>
    </div>
</footer>