<header>
    <a href="#home"  class="logo"><img src="https://www.cdnlogo.com/logos/d/80/dhl.svg" alt=""></a>

        <div  class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
           

          

        </div>

    

        <nav class="navbar">
            <a >Sledování</a>
            <a>Odeslat</a>
            <a>Logistické služby pro společnosti</a>
            <a>Zákaznický servis</a>
          
          
                
           


                

            </ul>
        </nav>
</header>
<script>
    hamburger = document.querySelector(".hamburger");
hamburger.onclick = function(){
    navBar = document.querySelector(".navbar")
    navBar.classList.toggle("active");
}

</script>